@use "./base.scss";

// put your custom CSS here!

html {
  font-size: 18px;
}

code {
  line-height: normal;
}

.text-inherit {
  color: inherit;
}

.external span {
  margin-left: 0.2rem;
  margin-right: 0.1rem;
  line-height: 100%;
  vertical-align: text-bottom;
}

.internal.missing {
  filter: brightness(0.75);
  background-color: transparent;
}
